*{
    margin: 5;
    padding: 0;
}
html{
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
}
body {
    background-color: rgb(159, 207, 242);
}

header{
    background-color: rgb(108, 116, 237);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    background-color: rgb(186, 125, 251);
    padding:20px 50px;
}
.about {
    background-color: rgb(152, 209, 253);
    padding:20px 50px;
}
.articles {
    background-color: cornflowerblue;
    padding:20px 50px;
}

h2 {
    text-align: center;
    font-size: 20px;
}

p {
font-size: 20px;
line-height: 36px;
}
h1{
    color: darkslateblue;
}
.img-about{
     text-align: center;
     border-radius: 10px;
}
.img-about{
    display: ruby-base;
    margin:0 auto;
}
ul{
    list-style: none;
}

.content{
padding: 20px 50px;
}
header a {
    color:rgb(128, 0, 255);
}
a:link{
    color:rgb(21, 58, 243) ;
}
a:visited{
    color: rgb(156, 255, 69);
}
a:hover{
    color:darkmagenta;
}
a:focus{
    color: cornflowerblue;
}
h2::after {
    content:"new";
    font-size: 10px;
    margin-left:10px;
    color:hotpink
}
ol.page-list{
    border-bottom: dashed 1px rgb(76, 91, 156);
}
* {box-sizing: border-box;}



.table-example {
    border: 5px solid rgb(241, 103, 223);
    border-collapse: collapse;
}
.table-example td,
.table-example th{
    border: 1px solid black;
    padding: 5px 20px;
    text-align: center;
}
.table-example caption{
    color: hotpink;
    font-style: italic;
}
.table-example tr:nth-child(odd){
    background-color: lavender;
}
#form-example {
    border: 3px solid pink;
    background-color: lavenderblush;
    border-radius: 30px;
    padding: 30px;
    width: 250px;
    margin: 20px auto;
}
#form-example input[type=submit],
#form-example input[type=reset]{
    padding: 5px 10px;
    background-color: pink;
    border: none;
    border-radius: 5px;
    color:aliceblue;
}
#form-example input[type=submit]:hover,
#form-example input[type=reset]:hover{
    background-color: hotpink;
    color:darkorchid;
}
#form-example input[type=text],
#form-example input[type=password]{
    background-color: aliceblue;
    border: pink 1px solid;
    border-radius: 5px;
    padding: 7px;
    color: hotpink;
    margin-bottom: 5px;
}

#form-example textarea {
background-color: lavender;
border: 1px solid hotpink;
padding: 7px;
border-radius: 5px;
margin-bottom: 5px;
width: 190px;
height: 50px;
}